{% extends "base.html" %}
{% block title %}Purchase{% endblock %}

{% block content %}

{% for item in pay %}
<!-- <div class="container"> -->
    <form method="POST">
        <h3 class="text-dark" align="center">Update Product</h1>
        <div class="from-group">
            <label class="text-dark" for="product_id">product_id</label>
            <input type="text" class="form-control" id="product_id" name="product_id" value="{{ item.product_id }}">
        </div>
        <br>
        <div class="from-group">
            <label class="text-dark" for="date">Date</label>
            <input type="text" class="form-control" id="date" name="date" value="{{ item.date }}">
        </div>
        <br>
        <div class="from-group">
            <label class="text-dark" for="article">Article</label>    
            <input type="text" class="form-control" id="article" name="article" value="{{ item.title }}">
        </div>
        <br>
        <div class="from-group">
            <label class="text-dark" for="author">Author</label>
            <input type="text" class="form-control" id="author" name="author" value="{{ item.user_name }}">
        </div>
        <br>
        <div class="from-group">
            <label class="text-dark" for="price">price</label>
            <input type="number" class="form-control" id="price" name="price" value="{{ item.price }}">
        </div>
        <br>
        <div class="from-group">
            <label class="form-label" for="customer_id">customer_id</label>
            <input class="form-control" type="number" id="customer_id" name="customer_id" value="{{ session['id'] }}">
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-outline-secondary">Upload</button>
        </div>
    </form>
</div>
<!-- <div class="container">
<div class="card">
    <h2 class="title">Your Order</h2>
        <div class="row">
            <div class="col-md-5">
                <div class="container">
                    <img src="{{ url_for('static', filename='image/oli-woodman-fwYZ3B_QQco-unsplash.jpg') }}" 
                    alt="oli-woodman-fwYZ3B_QQco-unsplash" class="img-thumbnail">                
                </div>
            </div>        
            <div class="col-md-7">
                <header class="article-header">    
                    product_id: {{ item.product_id }}
                    <div>
                        <div class="category-title text-dark">
                            Article
                            <span class="date">{{ item.date }}</span>
                        </div>
                    </div>
                    <h2 class="article-title text-dark">
                        {{ item.title }}
                    </h2>
                </header>
                <div class="author">
                    <div class="profile"></div>
                    <div class="info">
                        <div class="caption">Author</div>
                        <div class="name text-dark">{{ item.user_name }}</div>
                    </div>
                </div>
                <div class="tags">
                    <div class="text-dark">Price</div>
                    <div class="text-dark">{{ item.price }}</div>
                </div>
                <form method="post" action="/payment">
                    <a href="{{ url_for('payment') }}" class="btn btn-outline-secondary" role="button" aria-pressed="true">purchase</a>
                  </form>
            </div>
        </div>
    </div> -->
    {% endfor %}

{% endblock %}
