{% extends "base.html" %}
{% block title %}Question{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        <h3 class="text-dark" align="center">Question for Improvement</h1>
        <div class="from-group">
            <label class="text-dark" for="question">Question</label>
            <textarea type="text" rows="10" class="form-control" id="ansQuestion" name="ansQuestion" 
            placeholder="Think of some question for my further improvement"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-secondary">Upload</button>
    </form>
</div>

{% endblock %}
