{% extends "base.html" %}
{% block title %}Hotel Upload{% endblock %}

{% block content %}
<!-- <div class="container"> -->
    <form method="POST" method="GET">
        <h3 class="text-dark" align="center">Update User Info</h1>
        <div class="from-group">
            <label class="text-dark" for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ session['email'] }}">
        </div>
        <br>
        <div class="from-group">
            <label class="text-dark" for="firstName">Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" value="{{ session['firstName'] }}">
        </div>
        <br>
        <div class="from-group">
            <label class="text-dark" for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" value="{{ session['password1'] }}">
        </div>
        <br>
        <div class="from-group">
            <label class="text-dark" for="password2">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2" value="{{ session['password2'] }}">
        </div>
        <br>
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </form>
</div>
{% endblock %}
