{% extends "base.html" %}
{% block title %}Upload{% endblock %}

{% block content %}
<!-- <div class="container"> -->
    <form method="POST">
        <h3 class="text-dark" align="center">Update Product</h1>
        <div class="from-group">
            <label class="text-dark" for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" value="{{ session['id'] }}">
        </div>
        <br>
        <div class="from-group">
            <label class="text-dark" for="firstName">Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" value="{{ session['firstName'] }}">
        </div>
        <br>
        <div class="from-group">
            <label class="text-dark" for="title">Title</label>
            <!-- <input type="text" class="form-control" id="title" name="title" value="{{ session['title'] }}"> -->
            <input type="text" class="form-control" id="title" name="title" placeholder="Title">
        </div>
        <br>
        <div class="from-group">
            <label class="text-dark" for="price">price</label>
            <!-- <input type="text" class="form-control" id="price" name="price" value="{{ session['price'] }}"> -->
            <input type="text" class="form-control" id="price" name="price" placeholder="Price">
        </div>
        <br>
        <div class="from-group">
            <label class="text-dark" for="product_id">product_id</label>
            <!-- <input type="text" class="form-control" id="price" name="price" value="{{ session['price'] }}"> -->
            <input type="text" class="form-control" id="product_id" name="product_id" placeholder="product_id">
        </div>
        <br>
        <div class="from-group">
            <label class="form-label" for="img">Image</label>
            <input class="form-control" type="file" id="img" name="img" value="{{ session['img'] }}">
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-outline-secondary">Upload</button>
        </div>
    </form>
</div>
{% endblock %}
